.sidebar {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

.sidebar>a:first-child {
    padding: 0;
}

.sidebar>a>img {
    margin-left: 5rem;
    width: 50%;
    transition: all 0.5s;
}

.sidebar>a>img:hover {
    filter: drop-shadow(0 0 10px #531c92);
}

.sidebar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    padding: 2rem;
    transition: all 0.5s;
}

.sidebar a:hover {
    color: #290750;
    transform: scale(1.1);
}

.sidebara>P {
    display: flex;
    align-items: center;
}

.sidebara>p>svg {
    margin-right: 0.5rem;
}

.MuiTypography-root {
    background-color: #fff !important;
}